<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load crispy_forms_tags %}
    <title>Registration</title>
</head>
<body>
<style>
    .container{

    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;

    }
    .card{
    font-size:1em;
    width:400px;
    height:500px;
    padding:2%;
    }
    ul{
	list-style: none;
    }
</style>
<div class="container">
    <div class="card">

        <h3><center>Register</center></h3>

        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">


            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style="text-align:center;" class="alert alert-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <table >{{form.as_table}}</table>
             <center><button type="submit"  class="btn btn-dark m-1">Register</button></center>
                </div>
        </form>
<a href="{% url 'login' %}"><center>Already have an account?</center> </a>
    </div>
</div>

</body>
</html>